body {
    font-family: 'Fira Sans', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    color: #222222;
}

header {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    font-weight: 500;
}


ul {
    list-style-type: none;
    color: #999999;
    display: flex;
    gap: 2vw;
    font-size: 12px;
    font-weight: 500;
}

.button {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    border-width: 1px;
    width: 146px;
    
}

 /* end of header, start of main 
Banner  */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper {
    background-color: #eeeeee;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero__h1 {

    margin: 0;
    font-size: 52px ;
    padding-top: 3rem;

}

.hero__p {
    max-width: 554px;
    text-align: center;
    font-weight:normal;
    color: #4b4b4b;
}

.button-wrapper {

    display: flex;
    gap: 2rem;
    
}

.hero__button {
background-color: #222222;
color: white;
border-style: none;
border-radius: 6px;
font-weight: 500;
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
padding: 9px 9px 9px 9px;
margin: 3rem 0 3rem 0;
width: 134px;
text-align: left;

}

.align-middle {
vertical-align: middle;

}

.hero__icon { 
padding: 0 3px 0 3px;
}

/* Main articles */

.title {

font-size: 53px;
margin-top: 92px;
margin-bottom: 80px;

}

.card_container {
display: grid;
grid-template-columns: 262px 262px 262px 262px ;
gap: 30px;
}

.small-card {
background-color: #EBEBEB;
display:flex;
flex-direction: column;
text-align: center;
grid-row: 1 / span 13;
}

.small-card__h3 {
    margin: 0;
    padding-top: 2rem;
}
.small-card__p {
    margin: 0.6rem;
}
.small-card__img {
width: 96px;
padding: 5rem;


}

.big-card {

    background-color: #343332;
    color:white ;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row:    3 / span 12;
    grid-column: span 2;
    font-size: 24px;

}

.big-card__h2 {

    margin: 1.3rem;
}

.big-card__h2::after {
    content: 'Summer 2021';
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #aeadad;
    margin: 0.3rem;
}

.big-card__button {
    background-color: #343434;
    border-color: #aeadad;
    color: #aeadad;
    font-size: 12px;
   
}

/* Footer */

footer {
    background-image: url("/Assets/map-background.png");
    height: 42vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-top: 8rem;
}

.footer-card {
    background-color: white;
    position: absolute;
    width: 434px;
    height: 417px ;
    margin-right: 8vw;
}