body {
    font-family: 'Fira Sans', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    color: #222222;
}

header {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    font-weight: 500;
}


ul {
    list-style-type: none;
    color: #999999;
    display: flex;
    gap: 2vw;
    font-size: 12px;
    font-weight: 500;
}

.button {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    border-width: 1px;
    width: 146px;
    
}

 /* end of header, start of main 
Banner  */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper {
    background-color: #eeeeee;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero__h1 {

    margin: 0;
    font-size: 52px ;
    padding-top: 3rem;

}

.hero__p {
    max-width: 554px;
    text-align: center;
    font-weight:normal;
    color: #4b4b4b;
}

.button-wrapper {

    display: flex;
    gap: 2rem;
    
}

.hero__button {
background-color: #222222;
color: white;
border-style: none;
border-radius: 6px;
font-weight: 500;
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
padding: 9px 9px 9px 9px;
margin: 3rem 0 3rem 0;
width: 134px;
text-align: left;

}

.align-middle {
vertical-align: middle;

}

.hero__icon { 
padding: 0 3px 0 3px;
}

/* Main articles */

.title {

font-size: 53px;
margin-top: 92px;
margin-bottom: 80px;

}

.card_container {
display: grid;
grid-template-columns: 262px 262px 262px 262px ;
gap: 30px;
}

.small-card {
background-color: #EBEBEB;
display:flex;
flex-direction: column;
text-align: center;
grid-row: 1 / span 13;
}

.small-card__h3 {
    margin: 0;
    padding-top: 2rem;
}
.small-card__p {
    margin: 0.6rem;
}
.small-card__img {
width: 96px;
padding: 5rem;


}

.big-card {

    background-color: #343332;
    color:white ;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row:    3 / span 12;
    grid-column: span 2;
    font-size: 24px;

}

.big-card__h2 {

    margin: 1.3rem;
}

.big-card__h2::after {
    content: 'Summer 2021';
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #aeadad;
    margin: 0.3rem;
}

.big-card__button {
    background-color: #343434;
    border-color: #aeadad;
    color: #aeadad;
    font-size: 12px;
   
}

/* Footer */

footer {
    background-image: url("/Assets/map-background.png");
    height: 42vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: relative; */
    margin-top: 8rem;
    gap:30px;
    flex-wrap: wrap;
}

.footer-card {
    background-color: white;
    max-width: 434px;
    min-width: 342px;
    width: 434px;
    height: 417px ;
    display:flex;
    flex-direction: column;
    font-size: 14px;
    text-align: left;
    padding-left: 33px;
    box-sizing: border-box;
    border-radius: 3px;

}

.footer-card__h1 {
    font-size: 53px ;
    margin-bottom: 0;
}

.footer-card__h3 {

font-size:22px ;
color: #4e4e4e ;
margin-bottom: 0;
margin-top: 15px ;
}

.footer-card__p {
    color: #7a7a7a;
    font-weight: 500;
    margin: 7px 0 40px 0;
}

.footer-card__address__list {
    display: flex;
    flex-direction: column;
    padding:0;
    gap: 25px;
    font-style: normal;
    font-weight:500;
    color: #222222;
}

.footer-card__address__list__item { 
display: flex;
align-items: center;

}

.footer-card__address__list__icon {
    margin-right: 17px;
    vertical-align: middle;


}


form {
    max-width: 434px;
    background-color: white;
    height: 417px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 33px 18px 33px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 500;
    margin-right: 4vw;
    border-radius: 3px;
  }

  label {
    display: block;
    margin-bottom: 1px;
    margin-top: 1rem;
    max-width: 250px;
  }

  input {
    max-width: 250px;
    background-color: #EBEBEB;
    border: 1px solid #aeadad;
    border-radius: 2px;
  }

  textarea {
    max-width: 250px;
    background-color: #EBEBEB;
    resize: none;
    border: 1px solid #aeadad;
    border-radius: 2px;
  }

  .form__button {
    margin-top: 33px;
    margin-bottom: 8px;
    align-self: center;
    background-color: #222222;
    color: white;
    text-transform: uppercase;
  }

  input:focus {
    background-color: white;
    outline: none;
  }

  textarea:focus {
    background-color: white;
    outline: none;
  }